.horizontal-scroll {
	position: absolute;
	white-space: nowrap;
	will-change: transform;
	animation: horizontal-scroll 30s linear infinite;
}
.vertical-scroll {
	position: absolute;
	white-space: nowrap;
	will-change: transform;
	animation: vertical-scroll 30s linear infinite;
}

@keyframes horizontal-scroll {
	from { transform: translateX(0); }
	to { transform: translateX(calc(-50% - 45px)); }
}
@keyframes vertical-scroll {
	from { transform: translateY(0); }
	to { transform: translateY(calc(-50% - 45px)); }
}

.w-webflow-badge {
	display: none !important;
}

.swiper-slide-active .card {
	opacity: 1;
}
